.payment-box {
    // width: 1200px;
    // background-color: red;

    .card-number {
        background-color: white;
        height: 50px;
        border-radius: 10em;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
        padding: 1em;
        border: none;
    }
}