<section id="login">
  <div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static', keyboard : false }" bsModal
    #autoShownModal="bs-modal" class="modal custom-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Inicio de sesión</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="frmLogin" (ngSubmit)="handleLogin()" #myForm="ngForm">
            <div class="row justify-content-center align-items-center g-2">
              <div class="col">
                <label for="email" class="form-label">Nombre de usuario</label>
                <input type="email" id="email" class="form-control" formControlName="email" placeholder="Nombre de usuario"/>
              </div>
            </div>
            <div class="row justify-content-center align-items-center g-2 mt-2">
              <div class="col">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" class="form-control" formControlName="password" placeholder="Contraseña"/>
              </div>
            </div>
            <div class="row g-2 mt-4">
              <div class="col d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-login btn-rounded" [disabled]="myForm.form.invalid">Iniciar Sesión</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>