#main{
    background-image: url('../assets/img/backgrounds/main-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    height: auto;   
}

.realinver-realidades-de-inversion {
    width: 150px;
}